<div
  [ngStyle]="{
    height: '100vh',
    display: 'flex',
    'align-items': 'center',
    'flex-direction': 'column',
    
  }"
>
  <div class="container-curva">
    <span
      [ngStyle]="{ 'margin-left': '32px', 'font-size': '35px', color: 'white' }"
      >Manage Pass</span
    >
  </div>
  <!--Contenedor Login-->
  <div class="container-items-login">
    <span
      [ngStyle]="{
        'margin-bottom': '16px',
        'text-align': 'center',
        'font-size': '50px'
      }"
      >Sing Up</span
    >
    <input
      [ngStyle]="{ 'margin-bottom': '16px' }"
      type="text"
      placeholder="Email or mobile"
    />
    <input
      [ngStyle]="{ 'margin-bottom': '16px' }"
      type="text"
      placeholder="Username"
    />
    <input
      [ngStyle]="{ 'margin-bottom': '16px' }"
      type="text"
      placeholder="Date of Birth"
    />
    <input type="text" placeholder="Password" />
    <button
      [ngStyle]="{
        height: '45px',
        'border-radius': '32px',
        'margin-top': '32px',
        'font-size': '22px',
        'background-color': '#c31432',
        color: 'white',
        border: 'none'
      }"
    >
      Signup
    </button>
    <span
      [ngStyle]="{
        'text-align': 'center',
        'margin-top': '16px',
        'font-size': '16px'
      }"
      routerLink="/login"
      >Already have on occojnt ? LOG IN</span
    >
  </div>
</div>
