.container-items-login {
  width: 300px;
  /*border: 2px solid black;*/
  display: flex;
  flex-direction: column;
}

.container-curva {
  width: 100vw;
  height: 100px;
  margin-bottom: 27px;
  border-radius: 2px;
  background-color: brown;
}

input {
  height: 40px;
  border-radius: 32px;
  border: 2px solid gray;
  padding-left: 16px;
}

input:focus {
  outline: none;
  background-color: #e2dedf; /* rosado claro */
}
