<header class="header">
  <div class="container">
    <!--Texto de la aplicacion-->
    <span [ngStyle]="{ 'margin-left': '32px', 'font-size': '35px' }"
      >Manage Pass</span
    >
    <!--Buscador-->
    <form [ngStyle]="{ 'margin-right': '160px' }" action="" method="">
      <input
        class="searcher"
        type="text"
        id="buscador"
        placeholder="Buscador"
      />
    </form>
    <!--Imagen-->
    <span [ngStyle]="{ 'margin-right': '32px' }">Imagen</span>
  </div>
</header>
