<header class="header">
  <div class="container">
    <!--Texto de la aplicacion-->
    <span [ngStyle]="{ 'margin-left': '32px', 'font-size': '35px' }"
      >Manage Pass</span
    >
    <!--Buscador-->
    <form
      [ngStyle]="{ 'margin-right': '160px', position: 'relative' }"
      action=""
      method=""
    >
      <!--Icono buscar-->
      <i
        [ngStyle]="{ position: 'absolute', top: '16px', left: '12px' }"
        class="fa-solid fa-magnifying-glass"
      ></i>
      <input
        class="searcher"
        type="text"
        id="buscador"
        placeholder="Search my vault"
      />
    </form>
    <!--Imagen-->
    <span [ngStyle]="{ 'margin-right': '38px' }"
      ><i [ngStyle]="{ 'font-size': '30px' }" class="fa-solid fa-user"></i
    ></span>
  </div>
</header>
