.header {
  color: white;
  background-color: brown;
  height: 100px;
}

.container {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}

.searcher {
  width: 680px;
  height: 45px;
  border-radius: 10px;
  border: none;
  opacity: 0.3;
  padding-left: 36px;
}
/*aplicamos pseudo-elemento*/
.searcher::placeholder {
  font-size: 16px;
}
/*aplicamos pseudo-clase*/
.searcher:focus {
  outline: none; /*quita el borde interno del input*/
}

/*Estilos Menu*/
.container-menu {
  border: 1px solid black;
  height: 260px;
  width: 171px;
}

.container-menu {
}

.container-items {
  margin-top: 25px;
  border-top: 1px solid black;
}

.nameUser {
  display: inline-block;
  margin-left: 55px;
  margin-top: 20px;
  color: black;
}

li {
  margin-bottom: 20px;
}
